.personalinfo {
  background-color: #dddddd;
  width: 80%;
  margin: 0px auto;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
}

.personalinput {
  margin: 10px 20px;
}

.applicationheader {
  font-size: 65px;
  color: purple;
  padding-left: 20px;
  border-bottom: solid purple 5px;
  width: 50%;
}

.subheader {
  color: purple;
  font-size: 20px;
  border-bottom: solid purple 2px;
  width: 20%;
  padding-left: 10px;
  margin-bottom: 20px;
}

.bottomform {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0px;
}

@media only screen and (max-width: 780px) {
  .subheader {
    width: 60%;
  }
}
