.jobdescript {
  background-color: #d4d4d6;
  width: 80%;
  margin: 0px auto;
  padding: 10px;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
}

.jobdescriptbtn {
  padding: 10px;
  cursor: pointer;
  color: purple;
}

.descriptionTop {
  color: purple;
}
