.profileinfo {
  background-color: #dddddd;
  width: 80%;
  margin: 10px auto;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
}

.profileinput {
  margin: 0px 20px;
}

.subheader {
  color: purple;
  font-size: 10px;
  border-bottom: solid purple 2px;
  width: 20%;
  padding-left: 10px;
}

.completed {
  background-color: #efefef;
  padding: 15px;
  border-bottom: solid purple 2px;
  border-left: solid purple 2px;
  width: 80%;
  margin-left: 15px;
}

@media only screen and (max-width: 780px) {
  .subheader {
    width: 60%;
  }
}
