.input {
  margin: 0px 0px 10px 100px;
}

.individualBtn {
  background-color: purple;
  border-left: solid black 2px;
  margin: 0px 5px;
  padding: 10px;
}

.btn {
  margin: 0px 0px 20px 90px;
  color: white;
}

.formHeader {
  margin-left: 70px;
  color: darkgreen;
}

@media only screen and (min-width: 680px) {
}
